.App {
  width: 960px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.books{
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}

.information {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

html {
  box-sizing: border-box;
}

input {
  width: 300px;
  height: 50px;
  font-size: 20px;
  padding-left: 10px;
  margin: 5px;

}

button {
  width: 320px;
  height: 50px;
  margin-top: 15px;
} 

button:hover {
  cursor: pointer;
}

table {
  border: 2px solid forestgreen;
  width: 800px;
  height: 200px;
  align-items: center;
  justify-content: center;
}
  
th {
  border-bottom: 1px solid black;
}
  
td {
  text-align: center;
}

*, *::before, *::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

nav ul {
  list-style: none;
  display: flex;
  background-color: black;
  margin-bottom: 20px;
}

nav li {
  padding: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

h1 {
  margin-bottom: 20px;
}

p {
  margin-bottom: 15px;
}