.App {
  width: 960px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.books{
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}

.information {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

html {
  box-sizing: border-box;
}

body {
  background-color: #EEE2DC;
}

input {
  width: 300px;
  height: 40px;
  font-size: 16px;
  margin: 5px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

button {
  width: 320px;
  height: 50px;
  font-size: 14px;
  font-weight: bold;

  background-color: #AC3B61;
  padding: 14px 40px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  margin-top: 15px;
  color: #EEE2DC;
} 

button:hover {
  cursor: pointer;
}

table {
  font-family: Calibri, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
  
td, th {
  border: 1px solid black;
  padding: 8px;
}

tr:nth-child(even){background-color: #BAB2B5;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #123C69;
  align-items: center;
  justify-items: center;
  color: #BAB2B5;
}

*, *::before, *::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

nav ul {
  list-style: none;
  display: flex;
  background-color: #EDC7B7;
  justify-content: center;
  text-align: center;
  width: 100%;
  align-items: center;
  margin-bottom: 40px;
}

nav li {
  padding: 20px;
}

nav ul li a {
  color: #AC3B61;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
}

h1 {
  font-family: Calibri, sans-serif;
  font-size: 28px;
  margin-bottom: 20px;
  color: #123C69;
}

h2 {
  font-family: Calibri, sans-serif;
  font-size: 24px;
  color: #123C69;
}

h3 {
  font-family: Calibri, sans-serif;
  font-size: 18px;
  color: #123C69;
}

p {
  font-family: Calibri, sans-serif;
  margin-bottom: 15px;
}

li{
  font-family: Calibri, sans-serif;
  font-size: 16px;
}

label{
  font-family: Calibri, sans-serif;
  font-size: 16px;
}